<h1>Stone Paper Scissor</h1>
<p class="text-success">Here all 4 users input values are going to be generated via random Number</p>
<hr>
<h3>Players names are :-</h3>
<p>1. Player1</p>
<p>2. Player2</p>
<p>3. Player3</p>
<p>4. Player4</p>

<hr>
<button class="btn btn-primary btn-lg" (click)="runIt()">Press this button to run the game</button>
<p *ngIf=status.loading>loading</p>

<p>The final result of above game is :- (Press above button to execute Game)</p>

<div *ngIf="visible">
  <table class="table"> 
    <tr>
      <th> -- </th>
      <th> Player1 </th>
      <th> Player2 </th>
      <th> Player3 </th>
      <th> Player3 </th>
    </tr>
    <tr>
      <th>Player1</th>
      <th>-</th>
      <th>{{status.data[0][1]}}</th>
      <th>{{status.data[0][2]}}</th>
      <th>{{status.data[0][3]}}</th>
    </tr>
    <tr>
      <th>Player2</th>
      <th>{{status.data[1][0]}}</th>
      <th>-</th>
      <th>{{status.data[1][2]}}</th>
      <th>{{status.data[1][3]}}</th>
    </tr>
    <tr>
      <th>Player3</th>
      <th>{{status.data[2][0]}}</th>
      <th>{{status.data[2][1]}}</th>
      <th>-</th>
      <th>{{status.data[2][3]}}</th>
    </tr>
    <tr>
      <th>Player4</th>
      <th>{{status.data[3][0]}}</th>
      <th>{{status.data[3][1]}}</th>
      <th>{{status.data[3][2]}}</th>
      <th>-</th>
    </tr>
  </table>
  <app-detail></app-detail>
</div>




